.side-nav {
  background-color: transparent; }
  .side-nav h1 {
    margin: 0 0 10px; }

.navLine {
  background-color: #F8FF91;
  height: 25px;
  width: 300px; }

.heartLogo {
  height: 75px;
  margin: 25px 0 0 50px; }

body {
  background: linear-gradient(to bottom right, #b2e8e3, #91d8d3, #529e99);
  min-height: 100vh;
  color: #003366; }

header, footer, main {
  padding-left: 300px; }

.topLine {
  background-color: #F8FF91;
  height: 25px;
  width: calc(100vw - 300px); }
