.side-nav {
  background-color: transparent; }
  .side-nav h1 {
    margin: 0 0 10px; }
  .side-nav li a {
    color: #003366; }

.navLine {
  background-color: #F8FF91;
  height: 25px;
  width: 300px; }

.heartLogo {
  height: 100px;
  margin: 50px 0 0 90px; }

.titleInNav {
  margin-top: 0; }

.modal-content .row {
  margin: 0; }

div.data-list-input {
  position: relative; }

select.data-list-input {
  position: absolute;
  top: 5px;
  left: 0px; }

#data-list-input {
  position: absolute;
  top: 0px;
  left: 0px; }

input.data-list-input {
  border-bottom: none; }

input.data-list-input[type=text]:focus:not([readonly]) {
  border-bottom: none;
  box-shadow: 0 0 0; }

.dropdown-content {
  background-color: #b2e8e3; }

.dropdown-content li > a {
  color: #003366; }

.event {
  background-color: #b2e8e3;
  border-radius: 15px; }

.chooseChild {
  margin-top: 100px; }

body {
  background-color: #91d8d3;
  background: linear-gradient(to bottom right, #b2e8e3, #91d8d3, #529e99);
  min-height: 100vh;
  color: #003366; }

body a {
  color: #003366; }

.footer-copyright {
  position: fixed;
  bottom: 0;
  right: 5px; }

header, footer, main {
  padding-left: 300px; }

.topLine {
  background-color: #F8FF91;
  height: 25px;
  width: calc(100vw - 300px); }

.textColor {
  color: #003366; }

.tallModal {
  min-height: 400px; }
