$FPIES-lite: #b2e8e3
$FPIES-med: #91d8d3
$FPIES: #529e99
$navy: #003366
$accent: #F8FF91

@import navbar
@import profile

body
	// background-color: $FPIES
	background: linear-gradient(to bottom right, $FPIES-lite, $FPIES-med, $FPIES)
	min-height: 100vh
	color: $navy

	// linear-gradient(to bottom right, $FPIES, $FPIES-Lite)

header, footer, main 
	padding-left: 300px

.topLine
	background-color: $accent
	height: 25px
	width: calc(100vw - 300px)