<!-- Profile -->
<div class="container">
	<div class="row">
		<div class="col m12">
			<h2>{{child.name}}</h2>
		</div>
	</div>
	<div class="row">
		<div class="col m12">
			<h2>{{child.age}} year old {{child.gender}}</h2>
		</div>
	</div>
	<div class="row">
		<div class="col m12">
			<h2>{{child.wtNumber}} {{child.wtUnit}}</h2>
		</div>
	</div>

<!-- Edit/Delete Child Buttons -->
	<div class="row">
		<div class="col m4">
		  <a class='waves-effect waves-teal btn-flat' data-target='editChildModal' modal><i class="material-icons left">mode_edit</i></a>
		</div>
		<div class="col m4">
		  <a class='waves-effect waves-teal btn-flat' data-target='deleteChildModal' modal><i class="material-icons left">delete</i></a>
		</div>
	</div>
</div>


<!-- edit Child Modal -->
<div id="editChildModal" class="modal">
  <div class="modal-content">
    <h4>Edit Child</h4>
    <div class="row">
      <div input-field class="col s12">
        <input type="text" ng-model="child.name">
        <label>Name</label>
      </div>
    </div>
    <div class="row">
      <div input-field class="col s12">
        <input type="text" ng-model="child.age">
        <label>Age</label>
      </div>
    </div>
    <div class="row">
      <div input-field class="col s6">
        <input type="text" ng-model="child.wtNumber">
        <label>Weight</label>
      </div>
      <div input-field class="col s6">
		    <select class="" ng-model="child.wtUnit" material-select watch>
		      <option value="" disabled>Choose your option</option>
		      <option value="lbs">lbs</option>
		      <option value="kg">kg</option>
		    </select>
			</div>
    </div>
	  <div class="row">
		  <div input-field class="col s12">
		    <select class="" ng-model="child.gender" material-select watch>
		      <option value="" disabled>Choose your option</option>
		      <option value="boy">Boy</option>
		      <option value="girl">Girl</option>
		      <option value="other"><input type="text"></option>
		      <option value="">Prefer Not to Answer</option>
		    </select>
		    <label>Gender</label>
			</div>
		</div>
  </div>
  <div class="modal-footer">
    <a href="#!/profile/{{child.id}}" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="editChild()">Edit Child</a>
  </div>
</div>


<!-- Delete Child Modal -->
<div id="deleteChildModal" class="modal">
  <div class="modal-content">
    <div class="row">
      <div input-field class="col s12">
        <p>Are you sure you want to delete {{child.name}}?</p>
      </div>
		</div>
  </div>
  <div class="modal-footer">
    <a href="#!/" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="deleteChild()">Delete {{child.name}}</a>
  </div>
</div>