<div class="col">
  <a class='waves-effect waves-light btn' data-target='addChildModal' modal>Add Child</a>
</div>

<div id="addChildModal" class="modal">
  <div class="modal-content">
    <h4>Add Child</h4>
    <div class="row">
      <div input-field class="col s12">
        <input id="name" type="text">
        <label for="name">Name</label>
      </div>
    </div>
    <div class="row">
      <div input-field class="col s12">
        <input id="age" type="text">
        <label for="age">Age</label>
      </div>
    </div>
    <div class="row">
      <div input-field class="col s12">
        <input id="weight" type="text">
        <label for="weight">Weight</label>
      </div>
    </div>
	  <div class="row">
		  <div input-field class="col s12">
		    <select class="" material-select watch>
		      <option value="" disabled selected>Choose your option</option>
		      <option value="1">Boy</option>
		      <option value="2">Girl</option>
		      <option value="3">Other</option>
		      <option value="3">Prefer Not to Answer</option>
		    </select>
		    <label>Gender</label>
			</div>
		</div>
  </div>
  <div class="modal-footer">
    <a href="#!/profile" class="modal-action modal-close waves-effect waves-green btn-flat">Add Child</a>
  </div>
</div>
