<!-- Add Trigger Modal Trigger -->
<div class="container">
  <div class="row">
    <div class="col m4">
      <a class='waves-effect waves-yellow lighten-4 btn-flat textColor' data-target='addTriggerModal' modal>Add Trigger</a>
    </div>
  </div>

<!-- Trigger List, including modal triggers for edit, delete, and detail -->
<div class="row" ng-repeat="item in triggerList">
    <div class="col m2">
      <a class="waves-effect waves-teal btn-flat"  data-target='editTriggerModal' ng-click="getTrigger( item.id )" modal><i class="material-icons">mode_edit</i></a>
    </div>
    <div class="col m2">
      <a class="waves-effect waves-teal btn-flat"  data-target='deleteTriggerModal' ng-click="getTrigger( item.id )" modal><i class="material-icons">delete</i></a>
    </div>
    <div class="col m8">
      <a data-target="triggerDetailModal" ng-click="getTrigger( item.id )" modal><h2>{{item.food}}</h2></a>
    </div>
  </div>
</div>


<!-- Add Trigger Modal -->
<div id="addTriggerModal" class="modal tallModal">
  <div class="modal-content">
    <h4>Add Trigger</h4>
    <div class="row">
      <div input-field class="col s12">
        <input type="text" ng-model="trigger.food" placeholder="Milk">
        <label>Food</label>
      </div>
    </div>
    <div class="row">
      <div input-field class="col s12">
        <select class="" ng-model="trigger.severity" material-select watch>
          <option value="low">Low</option>
          <option value="medium">Medium</option>
          <option value="high">High</option>
        </select>
        <label>Severity</label>
      </div>
    </div>
    <div class="row">
      <div input-field class="col s12">
        <select class="" ng-model="trigger.chronic" material-select multiple watch>
          <option value="Vomiting">Vomiting</option>
          <option value="Diarrhea">Diarrhea</option>
          <option value="Lethargy">Lethargy</option>
          <option value="Pallor">Pallor</option>
          <option value="Abdominal Distension">Abdominal Distension</option>
        </select>
        <label>Chronic Symptoms</label>
      </div>
    </div>
    <div class="row">
      <div input-field class="col s12">
        <select class="" ng-model="trigger.acute" material-select multiple watch>
          <option value="Vomiting">Vomiting</option>
          <option value="Diarrhea">Diarrhea</option>
          <option value="Lethargy">Lethargy</option>
          <option value="Pallor">Pallor</option>
          <option value="Abdominal Distension">Abdominal Distension</option>
          <option value="Low Blood Pressure">Low Blood Pressure</option>
          <option value="Low Body Temperature">Low Body Temperature</option>
          <option value="Shock">Shock</option>
        </select>
        <label>Acute Symptoms</label>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!/trigger" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="addTrigger()">Add Trigger</a>
  </div>
</div>

<!-- Edit Trigger Modal -->
<div id="editTriggerModal" class="modal tallModal">
  <div class="modal-content">
    <h4>Edit Trigger</h4>
    <div class="row">
      <div input-field class="col s12">
        <input type="text" ng-model="currentTrigger.food" placeholder="Milk">
        <label>Food</label>
      </div>
    </div>
    <div class="row">
      <div input-field class="col s12">
        <select class="" ng-model="currentTrigger.severity" material-select watch>
          <option value="low">Low</option>
          <option value="medium">Medium</option>
          <option value="high">High</option>
        </select>
        <label>Severity</label>
      </div>
    </div>
    <div class="row">
      <div input-field class="col s12">
        <select class="" ng-model="currentTrigger.chronic" material-select multiple watch>
          <option value="Vomiting">Vomiting</option>
          <option value="Diarrhea">Diarrhea</option>
          <option value="Lethargy">Lethargy</option>
          <option value="Pallor">Pallor</option>
          <option value="Abdominal Distension">Abdominal Distension</option>
        </select>
        <label>Chronic Symptoms</label>
      </div>
    </div>
    <div class="row">
      <div input-field class="col s12">
        <select class="" ng-model="currentTrigger.acute" material-select multiple watch>
          <option value="Vomiting">Vomiting</option>
          <option value="Diarrhea">Diarrhea</option>
          <option value="Lethargy">Lethargy</option>
          <option value="Pallor">Pallor</option>
          <option value="Abdominal Distension">Abdominal Distension</option>
          <option value="Low Blood Pressure">Low Blood Pressure</option>
          <option value="Low Body Temperature">Low Body Temperature</option>
          <option value="Shock">Shock</option>
        </select>
        <label>Acute Symptoms</label>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!/trigger" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="editTrigger(currentTrigger.id, currentTrigger)">Edit Trigger</a>
  </div>
</div>

<!-- Trigger Detail Modal -->
<div id="triggerDetailModal" class="modal tallModal">
  <div class="modal-content">
    <h4>{{currentTrigger.food}}</h4>
    <div>
      <h5>Acute Symptoms:</h5>
      <span ng-repeat="item in currentTrigger.acute">{{item}}{{$last ? '' : ', '}}</span >
    </div>
    <div>
      <h5>Chronic Symptoms:</h5>
      <span ng-repeat="item in currentTrigger.chronic">{{item}}{{$last ? '' : ', '}}</span >
    </div>
    <div>
      <h5>Associated Reactions:</h5>
      <span ng-repeat="thing in rxnArray">
        <a ng-href="#!/rxnDetail/{{thing.id}}" class="modal-action modal-close">
          {{thing.food_type}}
        </a>
         | 
      </span >
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!/trigger" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>

<!-- Delete Trigger Modal -->
<div id="deleteTriggerModal" class="modal">
  <div class="modal-content">
    <div class="row">
      <div input-field class="col s12">
        <p>Are you sure you want to delete {{currentTrigger.food}}?</p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!/trigger" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="deleteTrigger(currentTrigger.id)">Delete {{currentTrigger.food}}</a>
  </div>
</div>